* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    background: #000;
    color: #eee;
}

#game, #game-container {
    width: 100%;
    height: 100%;
}

#menu, #lobby {
    z-index: 5;
    background: #333;
    overflow-y: scroll;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

section {
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    background: #222;
}

section>div {
    padding: 1em 0;
}

.tabs {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: end;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    flex-wrap: nowrap;
}

.tab {
    z-index: 20;
    margin: 0 0.51em;
    height: min-content;
    white-space: nowrap;
}

.tab-name {
    padding: 0.5em 1em;
    border-radius: 1em 1em 0 0;
    background: #222;
    cursor: pointer;
    width: fit-content;
    margin-left: auto;
}

.tab-content-container {
    width: 0;
    height: 0;
    background: #222;
    overflow: hidden;
    transition: height 0.2s ease-in-out, width 0.2s ease-in-out 0.3s, border-radius 0.2s ease-in-out 0.3s;
    border-radius: 0;
}

.tab-content {
    padding: 1em;
    width: fit-content;
    height: fit-content;
}

button, select, input[type=text] {
    display: inline-block;
    padding: 1em 2em;
    border-radius: 9000px;
    border: none;
    color: #fff;
}

#game-list>div {
    padding: 1em;
    border-radius: 1em;
}

#game-list>div:nth-child(n+2) {
    margin-top: 1em;
}

#game-list>div, button, select, input[type="text"] {
    background: #444;
    transition: background-color ease-in-out 0.2s;
}

#game-list>div:hover, button:hover, button:focus, select:hover, select:focus {
    background: #555;
    cursor: pointer;
}

input[type="text"]:hover, input[type="text"]:focus {
    cursor: text;
}

input[type="checkbox"] {
    width: 2em;
    height: 2em;
    vertical-align: middle;
}